<div id="intro" class="clearfix">
  <div class="homepage-image">
    <div class="container" id="intro-text">
      <div class="row">
        <h1>Predikto</h1>
        <h4>A web app for predicting the best time to exchange currencies</h4>
      </div>
    </div>
  </div>
</div>